html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

body {
  background-image: url(https://source.unsplash.com/ZTqaeeoBBl8/1600x900);
  background-size: cover;
}

#root {
  height: 100%;
  width: 100%;
}
.App {
  height: 100%;
  width: 100%;
}

